/node_modules
/public/hot
/public/storage
/public/js/*.js
/public/css/*.css
/public/mix-manifest.json
/public/js/*.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.idea
/.vscode
