@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #2a095f;
}

body::-webkit-scrollbar-thumb {
    background: #3d02bd;
}

body::-webkit-scrollbar-thumb:hover {
    background: #5700ff;
}
